{
  "plugins": ["stylelint-scss", "stylelint-order"],
  "extends": ["stylelint-config-prettier-scss", "stylelint-config-recommended-scss"],
  "rules": {
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["width", "height"]
  }
}
